<div class="customers">
    <div class="customers__container">
        <div class="customers__head">
            <p>Testimonials</p>
            <h3>Our Customer’s Say</h3>
        </div>
        <div class="customers__slider">
            <!-- owl carousel -->
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="single">
                        <div class="author-opinion">
                            <p>
                                “Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                        neque.
                            </p>
                        </div>
                        <div class="author-info">
                            <div class="author-info__img">
                                <img src="images/testimonial/author.png" alt="author1">
                            </div>
                            <div class="author-info__name">
                                <h3>Robert Thomson</h3>
                                <div class="stars">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single">
                        <div class="author-opinion">
                            <p>
                                “Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                        neque.
                            </p>
                        </div>
                        <div class="author-info">
                            <div class="author-info__img">
                                <img src="images/testimonial/author2.png" alt="author1">
                            </div>
                            <div class="author-info__name">
                                <h3>Kristiana Chouhan</h3>
                                <div class="stars">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single">
                        <div class="author-opinion">
                            <p>
                                “Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                        neque.
                            </p>
                        </div>
                        <div class="author-info">
                            <div class="author-info__img">
                                <img src="images/testimonial/author2.png" alt="author1">
                            </div>
                            <div class="author-info__name">
                                <h3>Kristiana Chouhan</h3>
                                <div class="stars">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single">
                        <div class="author-opinion">
                            <p>
                                “Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                        neque.
                            </p>
                        </div>
                        <div class="author-info">
                            <div class="author-info__img">
                                <img src="images/testimonial/author.png" alt="author1">
                            </div>
                            <div class="author-info__name">
                                <h3>Robert Thomson</h3>
                                <div class="stars">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single">
                        <div class="author-opinion">
                            <p>
                                “Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                        neque.
                            </p>
                        </div>
                        <div class="author-info">
                            <div class="author-info__img">
                                <img src="images/testimonial/author2.png" alt="author1">
                            </div>
                            <div class="author-info__name">
                                <h3>Kristiana Chouhan</h3>
                                <div class="stars">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single">
                        <div class="author-opinion">
                            <p>
                                “Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                        neque.
                            </p>
                        </div>
                        <div class="author-info">
                            <div class="author-info__img">
                                <img src="images/testimonial/author.png" alt="author1">
                            </div>
                            <div class="author-info__name">
                                <h3>Robert Thomson</h3>
                                <div class="stars">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- https://www.youtube.com/watch?v=woL0YlCqO64 -->
        </div>
    </div>
</div>