<div class="delicious">
    <div class="container-column">
        <h3>Delicious Food For You</h3>
        <div class="choose-menu">
            <ul class="nav-parent">
                <li class="nav-li">
                    <a href="#" class="nav-menu nav-menu--active" onclick="event.preventDefault()">
                        <div class="icon">
                            <i class="flaticon-lunch"></i>
                        </div>
                        <h4>Dinner</h4>
                    </a>
                </li>
                <li class="nav-li">
                    <a href="#" class="nav-menu" onclick="event.preventDefault()">
                        <div class="icon">
                            <i class="flaticon-food"></i>
                        </div>
                        <h4>Breakfast</h4>
                    </a>
                </li>
                <li class="nav-li">
                    <a href="#" class="nav-menu" onclick="event.preventDefault()">
                        <div class="icon">
                            <i class="flaticon-kitchen"></i>
                        </div>
                        <h4>Lunch</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <div class="menu__grid">
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/1.png" alt="#1">
                    </div>
                    <div class="grid-info">
                        <h3>#12. Chicken Chilis</h3>
                        <p>V1.Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/3.png" alt="#2">
                    </div>
                    <div class="grid-info">
                        <h3>#10. Fried Rice</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/5.png" alt="#3">
                    </div>
                    <div class="grid-info">
                        <h3>#02. Burger Cury</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/2.png" alt="#4">
                    </div>
                    <div class="grid-info">
                        <h3>#16. Chicken Chilis</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/4.png" alt="#5">
                    </div>
                    <div class="grid-info">
                        <h3>#08. Vegetable fry</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/6.png" alt="#6">
                    </div>
                    <div class="grid-info">
                        <h3>#01. Chicken Chilis</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="menu"> 
            <div class="menu__grid">
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/1.png" alt="#1">
                    </div>
                    <div class="grid-info">
                        <h3>#12. Chicken Chilis</h3>
                        <p>V2.Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/2.png" alt="#2">
                    </div>
                    <div class="grid-info">
                        <h3>#10. Fried Rice</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/3.png" alt="#3">
                    </div>
                    <div class="grid-info">
                        <h3>#02. Burger Cury</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/4.png" alt="#4">
                    </div>
                    <div class="grid-info">
                        <h3>#16. Chicken Chilis</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/5.png" alt="#5">
                    </div>
                    <div class="grid-info">
                        <h3>#08. Vegetable fry</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/6.png" alt="#6">
                    </div>
                    <div class="grid-info">
                        <h3>#01. Chicken Chilis</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="menu"> 
            <div class="menu__grid">
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/1.png" alt="#1">
                    </div>
                    <div class="grid-info">
                        <h3>#12. Chicken Chilis</h3>
                        <p>V3.Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/2.png" alt="#2">
                    </div>
                    <div class="grid-info">
                        <h3>#10. Fried Rice</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/3.png" alt="#3">
                    </div>
                    <div class="grid-info">
                        <h3>#02. Burger Cury</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/4.png" alt="#4">
                    </div>
                    <div class="grid-info">
                        <h3>#16. Chicken Chilis</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/5.png" alt="#5">
                    </div>
                    <div class="grid-info">
                        <h3>#08. Vegetable fry</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
                <div class="grid-element">
                    <div class="grid-image">
                        <img src="images/delicious/6.png" alt="#6">
                    </div>
                    <div class="grid-info">
                        <h3>#01. Chicken Chilis</h3>
                        <p>Craft beer elit seitan exercitation photo booth et 8-bit kale chips.</p>
                        <span>$20</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>