<body>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <h1>Hello footer</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/swiper-bundle.min.js"> </script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/baguetteBox.js"></script>
    <script type="text/javascript">
        lightGallery(document.getElementById('lightgallery'));
    </script>
    <script>
        window.addEventListener('load', function() {
          baguetteBox.run('.gallery');
        });
    </script>
    <script src="js/main.js"></script>
</body>
</html>