<div class="gallery-section">
    <h3>Photo Gallery</h3>
    <div class="gallery gallery--1">
        <a href="images/gallery/1.png" data-caption="meat">
            <img alt=".." src="images/gallery/1.png" />
        </a>
        <a href="images/gallery/2.png" data-caption="salad">
            <img alt=".." src="images/gallery/2.png" />
        </a>
        <a href="images/gallery/3.png" data-caption="messivojoskoe">
            <img alt=".." src="images/gallery/3.png" />
        </a>
    </div>
    <div class="gallery gallery--2">
        <a href="images/gallery/4.png" data-caption="meat">
            <img alt=".." src="images/gallery/4.png" />
        </a>
        <a href="images/gallery/5.png" data-caption="salad">
            <img alt=".." src="images/gallery/5.png" />
        </a>
        <a href="images/gallery/6.png" data-caption="messivojoskoe">
            <img alt=".." src="images/gallery/6.png" />
        </a>
    </div>
</div>